/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  justify-items: center;
  padding: 1rem;
}

.title {
  place-self: center;
}

.game-container {
  display: grid;
  grid-template-areas:
    "message message"
    "gameboard1 gameboard2";
  grid-template-columns: auto auto;
  grid-template-rows: 50px min-content;
  gap: 50px;
}

.result-message {
  grid-area: message;
}

.gameboard1 {
  grid-area: gameboard1;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  border: 1px solid black;
  background-color: yellow;
  gap: 2px;
  padding: 2px;
  position: relative;
}

.gameboard2 {
  grid-area: gameboard2;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  border: 1px solid black;
  background-color: red;
  gap: 2px;
  padding: 2px;
  position: relative;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

.missed-square {
  background-color: rgba(206, 203, 203, 0.5);
}

.attacked-square {
  background-color: blue;
}

.white-mask {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.setup-page .message {
  grid-area: message;
}

.setup-page .ships-setup {
  grid-area: gameboard1;
}

.setup-page .gameboard {
  grid-area: gameboard2;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  border: 1px solid black;
  background-color: red;
  gap: 2px;
  padding: 2px;
  position: relative;
}

.ships-setup {
  display: grid;
  width: 800px;
  grid-template-rows: 30px 1fr;
  gap: 1rem;
}

.ships-setup .ships {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.ships-setup .ships > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 100px;
}

.ships-setup .ship, .placed-ship {
  background-color: blue;
  height: 50px;
  border-radius: 10px;
}

.ships-setup .carrier {
  width: 250px;
}

.ships-setup .battleship {
  width: 200px;
}
.ships-setup .destroyer,
.ships-setup .submarine {
  width: 150px;
}
.ships-setup .patrol-boat {
  width: 100px;
}

.ships-setup .ship.vertical {
  background-color: blue;
  width: 50px;
  border-radius: 10px;
  padding: 1px;
}

.ships-setup .carrier.vertical {
  height: 250px;
}

.ships-setup .battleship.vertical {
  height: 200px;
}
.ships-setup .destroyer.vertical,
.ships-setup .submarine.vertical {
  height: 150px;
}
.ships-setup .patrol-boat.vertical {
  height: 100px;
}

.placed-ship {
  position: absolute;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}